<div id="carreras">
  <div class="row no-margin">

    <div class="col-md-12">
      <h2 class="text-center">Buy Properties</h2>
    </div>




    <form name="propertyForm" novalidate="">

      <div class="col-md-3 col-md-offset-3">

        <h3 class="text-center">Select player</h3>

        <table class="table text-center">
          <tr>
            <th class="text-center">PLAYER</th>
            <th class="text-center">MONEY</th>
            <th class="text-center">SELECT</th>
          </tr>
          <tbody>
            <tr ng-repeat="player in propertyCtrl.players">
              <td>{{player.name}}</td>
              <td>{{player.money}}</td>
              <td><input type="radio" name="selectedPlayer" value="{{player._id}}" required="" ng-model="propertyCtrl.player"></td>
            </tr>
          </tbody>

        </table>

      </div>

      <div class="col-md-3 form-group">

        <h3 class="text-center">Select property</h3>

        <select class="form-control" name="selectedProperty" required="" ng-model="propertyCtrl.property">
          <option value="">--Select property--</option>
          <option ng-repeat="property in propertyCtrl.properties" value="{{property._id}}">{{property.name}} (Price: {{property.price}})</option>
        </select>

        <div class="col-md-6 col-md-offset-3">
          <button type="submit" class="btn btn-primary pull-right" name="button" ng-click="propertyCtrl.buy(propertyForm.$valid)"><i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i></button>
        </div>

      </div>

      <div class="row">

      </div>






      </form>




      <!-- <div class="col-md-6 col-md-offset-3">
        <table class="table text-center">
          <tr>
            <th class="text-center">Código</th>
            <th class="text-center">Nombre del curso</th>
            <th class="text-center">Carrera</th>
            <th class="text-center">Eliminar</th>
          </tr>
          <tbody >
            <tr ng-repeat="curso in cursoCtrl.cursos">
              <td>{{curso.codigoCurso}}</td>
              <td>{{curso.nombre}}</td>
              <td>{{carrera.nombre}}</td>
              <td><button type="button" ng-click="cursoCtrl.eliminarCurso(curso._id, $event)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div> -->


  </div>

</div>




    <!-- <div class="col-md-6 text-center">
      <h1>Eliminar Carrera</h1>
      <select ng-model="carreraCtrl.carreraSeleccionada">
        <option value="">--Seleccionar Carrera--</option>
        <option value="{{carrera.nombre}}" ng-repeat="carrera in carreraCtrl.carreras">{{carrera.nombre}}</option>
      </select>
      <button type="button" name="button" class="btn btn-primary" ng-click="carreraCtrl.eliminar()">Eliminar</button>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6 role text-center">

      <h1>Asignar Curso</h1>

      <select ng-model="carreraCtrl.carreraSeleccionadaCurso">
        <option value="">--Seleccionar Carrera--</option>
        <option value="{{carrera.nombre}}" ng-repeat="carrera in carreraCtrl.carreras">{{carrera.nombre}}</option>
      </select>
      <br>
      <input type="text" name="" value="" placeholder="Ingrese nombre del curso" ng-model="carreraCtrl.nombreCurso">
      <br>
      <button type="button" name="button" class="btn btn-primary" ng-click="carreraCtrl.asignar()">Asignar</button>

    </div>

    <div class="col-md-6 role text-center">
      <h1>Eliminar Curso</h1>

      <select ng-model="carreraCtrl.carreraSeleccionadaEliminarCurso">
        <option value="{{carrera.nombre}}" ng-repeat="carrera in carreraCtrl.carreras">{{carrera.nombre}}</option>
      </select>

      <div ng-repeat="item in carreraCtrl.carreras | filter:{nombre:carreraCtrl.carreraSeleccionada}:true  track by $index">
        <select ng-model="carreraCtrl.carreraEliminarCurso" >
          <option ng-repeat="innerItem in item.cursos" ng-value="{{obj.name}}">{{innerItem.name}}</option>
        </select>
      </div>


      <button type="button" name="button" class="btn btn-primary" ng-click="carreraCtrl.eliminarCurso()">Eliminar</button>
    </div> -->


  <!-- </div>

  <table>
  <thead>
    <th>Carrera</th>
    <th>Cursos</th>
  </thead>
  <tbody>
    <tr ng-repeat="carrera in carreraCtrl.carreras">
      <td>{{carrera.nombre}}</td>
      <td>
        <p ng-repeat="curso in carrera.cursos">{{curso.name}}</p>
      </td>
    </tr>
  </tbody>
</table> -->
